<!DOCTYPE html>
<html>
    <head>
        <title>Nimbo capture</title>
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/capture.js"></script>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>

        <div id="header">
            status:
            <span id="status"></span>
        </div>

        <div id="runner">runner</div>
    </body>
</html>
